#sidebar-container {
    /* padding-left: 70px; */
    transition: all .4s ease 0s;
    height: 100%;
}

#sidebar-wrapper {
    /* margin-left: -150px; */
    /* left: -30px; */
    padding: 20px 0;
    border-right: 1px solid #DBDBDB;
    overflow: hidden;
    width: 70px;
    background: #fff;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar-container.active #sidebar-wrapper {
    width: 250px;
}


#sidebar-menu li a,
.sidebar-nav li a {
    display: block;
    float: left;
    text-decoration: none;
    width: 215px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
    line-height: 60px;
    text-indent: 6px;
    padding: 0 15px;
}

.sidebar-nav li .logo {
    margin-left: 4px;
}

.sidebar-nav li .logo,
.sidebar-nav li a i {
    /* margin-right: 20px; */
    font-size: 20px;
}

#sidebar-menu li a:hover {
    background-color: unset !important;
}

#sidebar-menu li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sidebar-menu li img {
    height: fit-content;
}

.sidebar-nav li a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    position: relative;
}

.sidebar-nav li a span {
    position: absolute;
    left: 50px;
}

.sidebar-nav li a:hover {
    /* color: #000 !important; */
    /* background: #fff; */
    background-color: rgba(80, 48, 229, 0.08);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
    color: #000;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #000;
    background: none;
}
